[project]
	description = automatic parser in social networks
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Damir Garifullin (Bambuk)
[access "refs/for/refs/*"]
	read = group user/Damir Garifullin (Bambuk)
	push = group user/Damir Garifullin (Bambuk)
	label-Code-Review = -2..+2 group user/Damir Garifullin (Bambuk)
	label-Verified = -1..+1 group user/Damir Garifullin (Bambuk)
	rebase = group user/Damir Garifullin (Bambuk)
	removeReviewer = group user/Damir Garifullin (Bambuk)
	submit = group user/Damir Garifullin (Bambuk)
[access "refs/heads/*"]
	read = group user/Damir Garifullin (Bambuk)
	create = group user/Damir Garifullin (Bambuk)
	push = +force group user/Damir Garifullin (Bambuk)
	pushMerge = group user/Damir Garifullin (Bambuk)
[access "refs/tags/*"]
	push = +force group user/Damir Garifullin (Bambuk)
	pushTag = group user/Damir Garifullin (Bambuk)
	pushSignedTag = group user/Damir Garifullin (Bambuk)
